
div {margin-left: 40%;
            
        }

body {
  background-color: rgb(182, 243, 182);
}

h1 {
  color: black;
  
}

p {
  font-family: Verdana;
  font-size: 30px; 
}
            
 
 
 
