
div {margin-left: 40%;          
  font-family: Verdana;
  font-size: 20px; 

            
        }

body {
  background-color: rgb(182, 243, 182);
}

h1 {
  color: black;
  
}

            
 
 
 
